################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Parkomatic
/Parkomatic/obj/Debug/net6.0
